werkzeug==1.0.*
sqlalchemy==1.3.*
discord==1.7.*
python-dotenv==0.18.*
discord-pretty-help==1.3.1
prettytable==2.0.0
aio-pika
expiring-dict
psycopg2
pyyaml
matplotlib
tribi==1.0.4
discord-components==2.0.4
pytz